* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0b0b0b;
  color: white;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(120deg, #7f00ff, #e100ff);
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin: 15px 0;
}

.btn {
  padding: 12px 30px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 25px;
}

#events {
  padding: 50px 20px;
  text-align: center;
}

.card {
  background: #151515;
  margin: 15px auto;
  padding: 20px;
  border-radius: 15px;
  max-width: 300px;
}
